<div class="container my-4 mx-auto text-center">
  <p class="display-4" *ngIf="!isLoggedIn">Login to Addstaurant</p>
  <p class="text-danger" *ngIf="loginfail">Login Failed Please Login again</p>
  <div class="row my-3">
    <div class="col-lg-4 col-md-8 mx-auto">
      <form class="text-center p-4" novalidate [formGroup]="myForm" (ngSubmit)="loginEmailUser()">

        <!-- Email -->
        <div *ngIf="!isLoggedIn">
          <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">
          <div class="form-control-feedback text-left" *ngIf="email.errors && (email.dirty || email.touched)">
            <p>Email is invalid</p>
          </div>

          <!-- Password -->
          <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">

          <div class="form-control-feedback text-left" *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Password must be {{password.errors.minlength.requiredLength}}
              characters
              long, we need another {{password.errors.minlength.requiredLength -
              password.errors.minlength.actualLength}}
              characters </p>
          </div>

          <!-- Sign in button -->
          <button mdbBtn color="info" [disabled]="!myForm.valid" block="true" class="my-4" type="submit">Sign in</button>

          <!-- Register -->
          <p>Not a member?
            <a href="" routerLink="/register">Register</a>
          </p>
        </div>

        <!-- Social login -->
        <div *ngIf="!isLoggedIn">
          <p>or sign in with:</p>
          <button class="btn btn-danger" (click)="login()"><i class="fa fa-google"></i>
            &nbsp; Google</button>
        </div>
      </form>

      <div *ngIf="isLoggedIn">
        <p class="display-4">You are logged in lets go to</p>
        <button class="btn btn-primary" routerLink="/dashboard">Dashboard</button>
      </div>
    </div>
  </div>
</div>