<div class="row">
  <div class="col-lg-4 col-md-8 mx-auto mt-4 my-container">
    <form class="text-center p-4" novalidate [formGroup]="myForm">

      <p class="h4 mb-4">Add Restaurant</p>
      <p class="text-danger" *ngIf="invalidForm">All fields are necessary fill up again and Submit</p>
      <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name">
      <div class="form-control-feedback text-left" *ngIf="name.errors && (name.dirty || name.touched)">
        <p>Name is required</p>
      </div>
      <input ngx-google-places-autocomplete class="form-control mb-4" formControlName="location" placeholder="Start Typing Location"
        (onAddressChange)="handleAddressChange($event)" />
      <input style="display: none" type="file" formControlName="file" accept="image/*" capture="camera" (change)="onFileChange($event)"
        #fileInput>
      <div class="file-input-container mb-4">
        <span class="pl-2">{{fileName}}</span>
        <span (click)="fileInput.click()" class="btn btn-sm btn-primary">Select File</span>
      </div>
      <input [owlDateTime]="dt1" formControlName="date" class="form-control mb-4" [owlDateTimeTrigger]="dt1"
        placeholder="Date Time">
      <owl-date-time #dt1></owl-date-time>
      <div>
        <bar-rating formControlName="rating" [max]="5"></bar-rating>
      </div>
      <div class="form-control-feedback text-left" *ngIf="rating.errors">
        <p>Rating is required</p>
      </div>

      <button class="btn btn-danger" type="button" (click)="addNewRestaurant()">Submit</button>
      <!-- <button (click)="onUpload()">Upload!</button> -->
      <div *ngIf="uploadProgress">
        <span>Form Upload Progress {{uploadProgress | async}} % </span>
      </div>
    </form>
  </div>
</div>

<!-- <div *ngIf="uploadProgress">
    <progress max="100" [value]="(uploadProgress | async)"></progress>
    <span>Form Upload Progress {{uploadProgress | async}} % </span>
  </div> -->