<div class="container mt-3">
  <button class="btn btn-primary mb-2" *ngIf="displayAll" (click)=showFav()>Favourites</button>
  <div class="btn btn-success mb-2" *ngIf="displayFav" (click)=showAll()>Show All</div>
  <div class="row mt-2" *ngIf="displayAll">
    <div class="col-md-3" *ngFor="let each of restros">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src={{each.url}} alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <p class="text-uppercase">Restaurant: <span>{{each.name}}</span></p>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            <span class="text-uppercase">Visited On: </span>
            {{each.date}}
          </mdb-card-text>

          <mdb-card-text>
            <span class="text-uppercase">rating:</span>&nbsp; &nbsp;{{each.rating}}<i class="fa fa-star"></i>
          </mdb-card-text>

          <div class="text-right">
            <span class="btn btn-primary ml-auto waves-light" (click)=addToFav(each) mdbWavesEffect><i class="fa fa-star"></i></span>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row mt-2" *ngIf="displayFav">
    <div class="col-md-3" *ngFor="let each of favRestros">
      <mdb-card *ngIf="each.isfav">
        <!--Card image-->
        <mdb-card-img src={{each.url}} alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <p class="text-uppercase">Restaurant: <span>{{each.name}}</span></p>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            <span class="text-uppercase">Visited On: </span>
            {{each.date}}
          </mdb-card-text>

          <mdb-card-text>
            <span class="text-uppercase">rating:</span>&nbsp; &nbsp;{{each.rating}}<i class="fa fa-star"></i>
          </mdb-card-text>

          <div class="text-right">
            <span class="btn btn-primary ml-auto waves-light" (click)=addToFav(each) mdbWavesEffect><i class="fa fa-star"></i></span>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
<a class="fab" routerLink="/addrestaurant"> + </a>