<div class="container mt-3">
  <h4 class="display-4 text-center">Welcome to Uwu Restaurants</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste alias porro dolorum consequuntur temporibus soluta
    fuga ipsum corporis rem molestiae pariatur, voluptatum rerum quis, enim consequatur natus placeat distinctio
    impedit animi veritatis voluptatem dolorem aliquid vitae eos. Quibusdam nam, tempora unde perspiciatis labore
    dolorem distinctio mollitia ut veritatis necessitatibus pariatur ab! Nisi, incidunt. Iste quo ea, odit temporibus
    quia veniam repellat numquam doloremque molestiae ut tempora perferendis nam non eligendi debitis eius odio id
    fugit expedita magnam ad! Sunt recusandae dicta officia earum, minima quidem esse, illo ullam, odio perferendis
    vero velit perspiciatis. Placeat est, libero odio commodi ipsum eos.</p>
  <h4 class="text-center mt-4">Take me to login</h4>
  <div class="text-center">
    <button class="btn btn-primary mt-2" routerLink="/login">Login</button>
  </div>
</div>

<!-- <button class="btn btn-primary" (click)="fetch()">Fetch</button>

<button class="btn btn-danger" (click)="logout()">Logout</button> -->